.label {
	-fx-padding: 5.0px;
    -fx-min-width: 40.0;
    -fx-max-width: 2000.0;
  	-fx-alignment: center;
  	-fx-text-fill: #FFFFFF;
}

.radio-button {
	-fx-text-fill: white;
}

.check-box {
	-fx-text-fill: white;
}

#controlArea {
    -fx-spacing: 10.0px;
    -fx-padding: 5.0px;
}

#winnerLabel {
	-fx-font-family: sans-serif;
	-fx-font-size: 18px;
	-fx-text-fill: #24af1f;
}

.deck {
	-fx-font-family: Calibri;
	-fx-font-size: 15px;
}

.player {
	-fx-font-family: Calibri;
	-fx-font-size: 15px;
	-fx-font-style: oblique;
	-fx-padding: 10.0px;
}

#playerName {
	-fx-padding: 10.0px;
	-fx-text-fill: #FFFFFF;
	-fx-font-size: 22px;
	-fx-font-weight: bold;
}

.card {
	-fx-font-size: 18px;
    -fx-border-color: black;
    -fx-border-width: 0.5px;
	-fx-background-color: white;
    -fx-min-width: 50;
    -fx-pref-width: 80;
    -fx-max-width: 500;
    -fx-min-height: 80;
    -fx-pref-height: 115;
    -fx-max-height: 800;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.card2 {
	-fx-font-size: 18px;
	
	/*
	 * -fx-border-color: black;
     * -fx-border-width: 0.5px;
	 */
	 
	-fx-background-image: url("../../images/Empty.png");
    -fx-min-width: 50;
    -fx-pref-width: 80;
    -fx-max-width: 500;
    -fx-min-height: 80;
    -fx-pref-height: 115;
    -fx-max-height: 800;
    -fx-background-radius: 5;
    -fx-border-radius: 5;
}

.card:hover {
	-fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 1), 10, 0, 0, 0);
	-fx-border-width: 1px;
}

.root {
	-fx-background-image: url("../../images/pokertable8.jpg");
	-fx-background-size: cover;
}

.button {
    -fx-border-color: #727272;
    -fx-border-width: 1;
    -fx-border-radius: 5;
    -fx-background-radius: 6;
    -fx-background-color: black;
    -fx-font-family: "Segoe UI", Helvetica, Arial, sans-serif;
    -fx-font-size: 8.5pt;
    -fx-text-fill: white;
    -fx-background-insets: 0 0 0 0, 0, 1, 2;
}

.button:hover {
    -fx-background-color: #3a3a3a;
}

.button:pressed {
  -fx-background-color: #515151;
}

.progress-bar {
	-fx-accent: #24af1f;
}